* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    color: #f00;
}

.users {
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: 25%;
    border-radius: 10px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
    padding: 10px 20px 20px;
    margin-right: 20px;
    margin-bottom: 30px;

    &__title {
        font-size: 24px;
        margin-bottom: 10px;
    }

    &__subtitle {
        font-size: 18px;
        margin-bottom: 5px;
    }

    &__content {
    }
}
